:root {
    --grid-max-rows: 20;
}

body {
    display: grid;
    /* grid-template-columns: [on-canvas] 80fr [off-canvas] 20fr; */
    grid-template-columns: [on-canvas] 100% [off-canvas] auto;
    grid-auto-rows: max-content;

    margin: 0;
    padding: 0;
}

.off-canvas {
    grid-column: off-canvas;
    grid-row: 1 / span var(--grid-max-rows);
}

/* SNAP! */
html {
    scroll-snap-type: x mandatory;
}

body {
    scroll-snap-type: x mandatory;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    scroll-snap-align: start;
}

.off-canvas {
    scroll-snap-align: end;
}
