:root {
    /* font-size: 36px; */
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    --grid-max-rows: 4;

    /* First row will fill expand */
    grid-template-rows: auto;
    min-height: 100%;
}

/* CONTENT BLOCKS */

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;

    padding: 0 2rem;

    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    height: 100%;
    max-height: 100vh;
    width: 400px;
    max-width: 100vw;
    margin-left: -1rem;

    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    text-shadow: black 2px 2px 2px;
}

/* BACKGROUNDS */

body {
    background-position: calc(var(--scroll) * 0.5px);
    background-image: url(kiwihug-canvas-unsplash-1920.jpg);
    background-size: cover;
}

nav {
    background-image: url(allec-gomes-red-yellow-canvas-unsplash-1920.jpg);
    background-size: cover;
}

@media (max-width: 800px) {
    html {
        font-size: 24px;
    }
    body {
        background-image: url(kiwihug-canvas-unsplash-960.jpg);
    }

    nav {
        background-image: url(allec-gomes-red-yellow-canvas-unsplash-960.jpg);
    }
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }
    body {
        background-image: url(kiwihug-canvas-unsplash-640.jpg);
    }

    nav {
        background-image: url(allec-gomes-red-yellow-canvas-unsplash-640.jpg);
    }
}
